@font-face {
  font-family: 'Mont-regular';
  src: url('./fonts/mont-regular.otf');
}

@font-face {
  font-family: 'Mont-light';
  src: url('./fonts/mont-light.otf');
}

@font-face {
  font-family: 'Mont-bold';
  src: url('./fonts/mont-bold.otf');
}

.cookieTitle {
  font-family: 'Mont-bold';
  font-size: 36px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #552b71;
  text-align: center;
}
.cookieParagraph {
  font-family: 'Mont-regular';
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
}
.legalNotices {
  font-family: 'Mont-light';
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  color: #2c2933;
}
.headerTop {
  height: fit-content;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 23px;
  border: 0px solid;
  padding: 10px;
  box-shadow: 1px 2px 10px #888888;
}
